
Meetup.docx
mini_proj/linear_regression/images/conditionalmean.png
mini_proj/linear_regression/images/cs109gitflow3.png
mini_proj/linear_regression/images/shuttle.png
mini_proj/logistic_regression/images/train-cv2.png
*.jpg
*.png
*.gif
mini_proj/naive_bayes/critics.csv
mini_proj/naive_bayes/.ipynb_checkpoints/TextAnalysis-checkpoint.ipynb
mini_proj/logistic_regression/data/01_heights_weights_genders.csv
